.main-menu-item {
    margin-right: 40px;
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    list-style: none;
}

.main-menu_ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    list-style: none;
    margin-bottom: 10px;
}