.main-menu {
    margin: 10px 0 0 118px;
}

.main-menu-item {
    margin-right: 40px;
    color: #FFFFFF;
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
}

.logo {
    margin: 30px 0 0 70px;
}