.main {
    width: 1439px;
    display: flex;
    flex-direction: column;
}

.main-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-one {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 720px;
}

.section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    background-image: url(../../img/paper.jpg);
}

.second-section-title {
    font-family: 'Merienda';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    text-align: center;

    color: #000000;

    margin-top: 80px;
}